body {
    font-family: Arial;
    font-size: 2em;
    font-weight:bold;
    margin: 20px 10% 20px 10%;
    background-image: url("../images/colorful_dots_on_white.jpg");
}

button {
    font-size: 1em;
    margin: 10px;
    border-radius: 10px;
}

#addColorButton {
    font-size: 1em;
    margin: 10px;
    border-radius: 10px;
}

img {
    margin:10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-style: solid;
}

figcaption {
    font-weight:normal;
    text-align: center;
    font-size:1em;
}

.imgContainer {
    float: left;
}

